{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% trans_default_domain "messages" %}

{% block content %}
    <div class="AknDefault-mainContent">
        {{ elements.page_header(
        {
            title: 'foa_cron.settings.title'|trans,
            buttons: buttons
        }
        ) }}

        <section id="existing-crons" class="container-fluid">

            <div class="AknTitleContainer-line" style="padding: 0 0 0 40px;">
                <div class="AknTitleContainer-title">
                    <div>{{ 'cron.list'|trans }}</div>
                </div>
            </div>

            <div id="product-grid" data-drop-zone="grid">
                <div id="grid-product-grid" data-type="datagrid" data-rendered="true">
                    <div class="clearfix">
                        <div class="AknGridContainer  AknGridContainer--withCheckbox grid-container container-fluid">
                            <table class="AknGrid grid" style="display: table;">
                                <thead class="AknGrid-header">
                                <tr class="AknGrid-bodyRow">
                                    <th class="AknGrid-headerCell"><span>Index</span></th>
                                    <th class="AknGrid-headerCell"><span>Status</span></th>
                                    <th class="AknGrid-headerCell"><span>Expression</span></th>
                                    <th class="AknGrid-headerCell"><span>Active</span></th>
                                    <th class="AknGrid-headerCell"><span>Command</span></th>
                                    <th class="AknGrid-headerCell"><span>Comment</span></th>
                                    <th class="AknGrid-headerCell"><span>Last Run</span></th>
                                    <th class="AknGrid-headerCell"><span>Log File</span></th>
                                    <th class="AknGrid-headerCell"><span>Error File</span></th>
                                    <th class="AknGrid-headerCell action-column"><a><b class="sort-caret"></b></a></th>
                                </tr>
                                </thead>
                                <tbody class="AknGrid-body">
                                {% for index, cron in crons %}
                                    <tr class="AknGrid-bodyRow row-click-action">
                                        <td class="AknGrid-bodyCell string-cell" data-column="identifier">{{ index }}</td>
                                        <td class="AknGrid-bodyCell string-cell">{{ cron.status }}</td>
                                        <td class="AknGrid-bodyCell string-cell">{{ cron.expression }}</td>
                                        <td class="AknGrid-bodyCell string-cell">
                                            {% if cron.suspended %}
                                                <div class="AknBadge AknBadge--medium AknBadge--disabled status-disabled">
                                                    <i class="AknBadge-icon icon-status-disabled icon-circle"></i>Disabled
                                                </div>
                                            {% else %}
                                                <div class="AknBadge AknBadge--medium AknBadge--enabled status-enabled">
                                                    <i class="AknBadge-icon icon-status-enabled icon-circle"></i>Enabled
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="AknGrid-bodyCell string-cell">{{ cron.command }}</td>
                                        <td class="AknGrid-bodyCell string-cell">{{ cron.comment }}</td>
                                        <td class="AknGrid-bodyCell string-cell">{{ cron.lastRunTime }}</td>
                                        <td class="AknGrid-bodyCell string-cell">{{ cron.logFile }}</td>
                                        <td class="AknGrid-bodyCell string-cell">{{ cron.errorFile }}</td>
                                        <td class="AknGrid-bodyCell AknGrid-bodyCell--actions action-cell">
                                            <div class="AknButtonList AknButtonList--right">
                                                <a href="javascript:void(0);"
                                                   class="AknIconButton AknIconButton--small AknIconButton--edit AknButtonList-item edit-cron-task"
                                                   title="Edit" data-id="{{ index }}">
                                                    Edit
                                                </a>
                                                <a href="{{ path('foa_cron_wakeup', {'id':index}) }}"
                                                   class="AknIconButton AknIconButton--small AknIconButton--play AknButtonList-item"
                                                   title="Wakeup">
                                                    Wakeup
                                                </a>
                                                <a href="{{ path('foa_cron_suspend', {'id':index}) }}"
                                                   class="AknIconButton AknIconButton--small AknIconButton--remove AknButtonList-item"
                                                   title="Suspend">
                                                    Suspend
                                                </a>
                                                <a href="{{ path('foa_cron_remove', {'id':index}) }}"
                                                   class="AknIconButton AknIconButton--small AknIconButton--trash AknButtonList-item"
                                                   title="Delete">
                                                    Remove
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{ not loop.last ? '<hr/>' : '' }}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="add-cron" class="container-fluid">
            <div class="AknTitleContainer-line" style="padding: 0 0 0 40px;">
                <div class="AknTitleContainer-title">
                    <div>{{ 'cron.add_a_cron'|trans }}</div>
                </div>
            </div>

            <form method="post" action="{{ path('foa_cron_add') }}">
                {% include 'FOACronBundle:Dashboard:form.html.twig' with {'form': form} %}

                <div class="AknButtonList" data-drop-zone="buttons">
                    <div>
                        <button title="Create cron job"
                                class="AknButton AknButton--apply AknButtonList-item"> {{ 'cron.add'|trans }}
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>

    {# @TODO move this block to requirejs module #}
    <script type="text/javascript" charset="utf-8">
        require(
            [
                'jquery',
                'pim/router',
                'pim/common/breadcrumbs',
                'pim/fetcher-registry',
                'pim/form-builder'
            ],
            function(
                $,
                router,
                Breadcrumbs,
                FetcherRegistry,
                FormBuilder
            ) {
                $(function() {
                    const breadcrumbs = new Breadcrumbs({
                        config: {
                            tab: 'pim-menu-system',
                            item: 'foa_cron-menu-cron-management'
                        }
                    });
                    breadcrumbs.configure().then(function () {
                        breadcrumbs.render();
                        $('*[data-drop-zone="breadcrumbs"]').append(breadcrumbs.$el);
                    });

                    FetcherRegistry.initialize().done(function () {
                        FormBuilder.build('pim-menu-user-navigation').then(function (form) {
                            $('.user-menu').append(form.el);
                            form.render();
                        }.bind(this));
                    });

                    $('.edit-cron-task').on('click', function (e) {
                        e.preventDefault();
                        var cronId = $(this).attr('data-id');
                        var params = {id: cronId};
                        var route  = 'foa_cron_edit';
                        router.redirectToRoute(route, params);
                    });

                    var presets = {
                        'yearly': ['0', '0', '1', '1', '*'],
                        'monthly': ['0', '0', '1', '*', '*'],
                        'weekly': ['0', '0', '*', '*', '0'],
                        'daily': ['0', '0', '*', '*', '*'],
                        'hourly': ['0', '*', '*', '*', '*']
                    };

                    $('.time-preset').on('click', function (e) {
                        e.preventDefault();
                        var $link = $(this);

                        var preset = presets[$link.attr('id')];

                        $('#cron_minute').val(preset[0]);
                        $('#cron_hour').val(preset[1]);
                        $('#cron_dayOfMonth').val(preset[2]);
                        $('#cron_month').val(preset[3]);
                        $('#cron_dayOfWeek').val(preset[4]);
                    });

                    $('.command-preset').on('click', function () {
                        $('#cron_command').val($(this).attr('value'));
                    });

                    $('.log-preset').on('click', function () {
                        var $button = $(this);

                        $button.parent().parent().find('input').val($button.attr('value'));
                    });
                });
            }
        );
    </script>
{% endblock %}
