{% trans_default_domain "messages" %}

{% block content %}

    <div class="navigation clearfix navbar-extra">
        <div class="row-fluid">
            <div class="navbar-content pull-left">
                <div class="navbar-title clearfix-oro">
                    <div class="sub-title">Cron Management</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-content pull-left">
            </div>
        </div>
    </div>

    <section id="existing-crons" class="container-fluid">
        <div class="page-header">
            <h4>
                {{ 'cron.list'|trans }}
            </h4>
        </div>

        {% for index, cron in crons %}
            <div class="row">
                <div class="span2">
                    <span class="label
                    label-{% if cron.status == 'error' %}danger{% elseif cron.status == 'unknown' %}warning{% else %}success{% endif %}">
                        {{ cron.status | trans({}, 'BCCCronManagerBundle') | capitalize }}
                    </span>
                </div>
                <h4 class="span{% if cron.suspended %} text-muted{% endif %}">
                    {{ cron.expression }} {{ cron.command }}
                </h4>
                <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#cron-{{ index }}"><i
                            class="icon-search"></i>{{ 'cron.details'|trans }}</button>
            </div>
            <div class="collapse in" id="cron-{{ index }}">
                <table class="table table-striped">
                    <tr>
                        <th class="span2" style="color: #808080;"><i
                                    class="glyphicon glyphicon-time"></i>{{ 'cron.last_run'|trans }}</th>
                        <td colspan="2">{{ cron.lastRunTime ? cron.lastRunTime | date : 'Unknown' | trans({}, 'BCCCronManagerBundle') }}</td>
                    </tr>
                    {% if cron.comment %}
                        <tr>
                            <th style="color: #049cdb;"><i
                                        class="glyphicon glyphicon-comment"></i>{{ 'cron.comment'|trans }}</th>
                            <td colspan="2">{{ cron.comment }}</td>
                        </tr>
                    {% endif %}
                    {% if cron.logFile %}
                        <tr>
                            <th style="color: #46a546;"><i
                                        class="glyphicon glyphicon-file"></i>{{ 'cron.log_file'|trans }}</th>
                            <td>{{ cron.logFile }}</td>
                            <td>
                                {% if cron.logSize %}
                                    <a class="btn btn-default btn-info pull-right modal-link"
                                       href="{{ path('foa_cron_file', {'id':index, 'type': 'log'}) }}">
                                        <i class="glyphicon glyphicon-search glyphicon-white"></i>
                                        {{ 'cron.log_file'|trans }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if cron.errorFile %}
                        <tr>
                            <th style="color: #9d261d;"><i
                                        class="glyphicon glyphicon-file"></i>{{ 'cron.error_file'|trans }}</th>
                            <td>{{ cron.errorFile }}</td>
                            <td>
                                {% if cron.errorSize %}
                                    <a class="btn btn-default btn-info pull-right modal-link"
                                       href="{{ path('foa_cron_file', {'id':index, 'type': 'error'}) }}">
                                        <i class="glyphicon glyphicon-search glyphicon-white"></i>
                                        {{ 'cron.error_file'|trans }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th style="color: #808080;"><i class="glyphicon glyphicon-cog"></i>{{ 'cron.raw_cron'|trans }}
                        </th>
                        <td colspan="2">
                            <pre>{{ cron }}</pre>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td colspan="2">
                            <span class="pull-right">
                                <a class="btn btn-default btn-primary"
                                   href="{{ path('foa_cron_edit', {'id':index}) }}">
                                    <i class="glyphicon glyphicon-edit glyphicon-white"></i>
                                    {{ 'cron.edit'|trans }}
                                </a>
                                {% if cron.suspended %}
                                    <a class="btn btn-default btn-success"
                                       href="{{ path('foa_cron_wakeup', {'id':index}) }}">
                                        <i class="glyphicon glyphicon-play glyphicon-white"></i>
                                        {{ 'cron.wake_up'|trans }}
                                    </a>
                                {% else %}
                                    <a class="btn btn-default btn-warning"
                                       href="{{ path('foa_cron_suspend', {'id':index}) }}">
                                        <i class="glyphicon glyphicon-pause glyphicon-white"></i>
                                        {{ 'cron.suspend'|trans }}
                                    </a>
                                {% endif %}
                                <a class="btn btn-default btn-danger"
                                   href="{{ path('foa_cron_remove', {'id':index}) }}">
                                    <i class="glyphicon glyphicon-trash glyphicon-white"></i>
                                    {{ 'cron.remove'|trans }}
                                </a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            {{ not loop.last ? '<hr/>' : '' }}
        {% endfor %}
    </section>

    <section id="add-cron" class="container-fluid">
        <div class="page-header">
            <h4>{{ 'cron.add_a_cron'|trans }}</h4>
        </div>

        <form method="post" action="{{ path('foa_cron_add') }}">
            {% include 'FOACronBundle:Dashboard:form.html.twig' with {'form': form} %}
            <input type="submit" class="btn btn-success btn-lg" value="{{ 'cron.add'|trans }}"/>
        </form>
    </section>

    <script type="text/javascript" charset="utf-8">
        require(
            ['foacron/system/configuration'],
            function(config) {
                config();
            }
        );
    </script>
{% endblock %}
