{% extends 'PimEnrichBundle::layout.html.twig' %}

{% trans_default_domain "messages" %}

{% block content %}

    <header class="AknTitleContainer navigation">
        <div class="AknTitleContainer-contentContainer">
            <h2 class="AknTitleContainer-title">Cron Management</h2>
        </div>
    </header>

    <section id="existing-crons" class="AknFormContainer--withPadding">
        <div class="page-header">{{ 'cron.list'|trans }}</div>
        {% for index, cron in crons %}
            <div class="AknTitleContainer AknTitleContainer-mainLine">
                <span class="AknBadge">{{ cron.status | trans | capitalize }}</span>
                <strong class="{% if cron.suspended %}foaCron--stateSuspended{% endif %}">{{ cron.expression }} {{ cron.command }}</strong>
                <button class="AknButton pull-right" data-toggle="collapse"
                        data-target="#cron-{{ index }}">{{ 'cron.details'|trans }}</button>
            </div>
            <div class="collapse in" id="cron-{{ index }}">
                <p>foo</p>
            </div>
            {{ not loop.last ? '<hr/>' : '' }}
        {% endfor %}
    </section>

    <section id="add-cron" class="AknFormContainer AknFormContainer--withPadding container-fluid">
        <div class="page-header">
            <h4>{{ 'cron.add_a_cron'|trans }}</h4>
        </div>

        <form method="post" action="{{ path('foa_cron_add') }}">
            {% include 'FOACronBundle:Dashboard:form.html.twig' with {'form': form} %}
            <input type="submit" class="AknButton btn btn-success btn-lg" value="{{ 'cron.add'|trans }}"/>
        </form>
    </section>

    <script type="text/javascript" charset="utf-8">
        require(
            ['foacron/system/configuration'],
            function (config) {
                config();
            }
        );
    </script>
{% endblock %}
